{% extends "base.html" %}

    {% block content %}

        <h1>Filtered Samples</h1>
        <table>
            <thead>
                <tr>
                    <th>Sample ID</th>
                    <th>Cell Line</th>
                    <th>Created Date</th>
                    <th>Infection Status</th>
                    <th>Plate Number</th>
                </tr>
            </thead>
            <tbody>
                {% for sample in samples %}
                    <tr>
                        <<td>{{ sample.sample_id }}</td>
                        <td>{{ sample.sample_metadata.metadata.cell_line }}</td>
                        <td>{{ sample.created_date }}</td>
                        <td>{{ sample.sample_metadata.metadata.infection }}</td>
                        <td>{{ sample.read_pair.plate_number }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No samples found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}