{% extends "base.html" %}

    {% block content %}
    <div class="welcome">

        <div class="welcome_message_background">
            <h1 id="welcome_message">Russell Lab Titer Pipeline Program</h1>
        </div>

        <div class="form_alignment">
        <div class="experiments">

            <h3 id="welcome_message2">Select from active experiments</h4>
                <div class="experiments_listed">
                    <form method="POST" action="{% url 'samples_by_experiment' %}" name="exp_selection" class="exp-selection-form">
                        {% csrf_token %}
                        <ul class = 'exp_list'>
                            {% for experiment in experiments %}
                                <li class="item">
                                    <label  for="exp_{{ loop.index }}">{{ experiment }}</label>
                                    <input class='item' type="radio" id="exp_{{ loop.index }}" name="exp_selection" value="{{ experiment }}" required>
                                </li>
                            {% endfor %}
                        </ul>
                </div>
        </div>
                        <!-- Submit button to submit the form -->
                <input id="submit_btn" type="submit" value="Select">
                </form>
        </div>
    </div>
    

         <!--connects to db and allows user to build a custom filter-->
    <div class="query_db">
            <h1>Create Custom Filter</h1>
            <br>
            <form class='query_db_form'method="POST" action="{% url 'filter_samples' %}">
                {% csrf_token %}
                
                <!-- Cell Type Filter -->
                <div>
                    <label for="cell_type">Cell Type:</label>
                    <select name="cell_type" id="cell_type">
                        {% for choice in form.cell_type.field.choices %}
                            <option value="{{ choice.0 }}" {% if form.cell_type.value == choice.0 %}selected{% endif %}>
                                {{ choice.1 }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
        
                <!-- Date Range Filter -->
                <div>
                    <label for="start_date">Start Date:</label>
                    {{ form.start_date }}
                </div>
                <div>
                    <label for="end_date">End Date:</label>
                    {{ form.end_date }}
                </div>
        
                <!-- Infection Status Filter -->
                <div>
                    <label for="infection_status">Infection Status:</label>
                    <select name="infection_status" id="infection_status">
                        {% for choice in form.infection_status.field.choices %}
                            <option value="{{ choice.0 }}" {% if form.infection_status.value == choice.0 %}selected{% endif %}>
                                {{ choice.1 }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                   <button type="submit" class="btn btn-primary">Apply Filter</button>
                </div>
            </form>

           <br>     
     </div>
    
    
    {% endblock %}