{% extends "base.html" %}

    {% block content %}
    <div class="welcome">

        <div class="welcome_message_background">
            <h1 id="welcome_message">Russell Lab Titer Pipeline Program</h1>
        </div>

        <div class="form_alignment">
        <div class="experiments">

            <h3 id="welcome_message2">Select from active experiments</h4>
                <div class="experiments_listed">
                    <form method="POST" action="{% url 'samples_by_experiment' %}" name="exp_selection" class="exp-selection-form">
                        {% csrf_token %}
                        <ul class = 'exp_list'>
                            {% for experiment in experiments %}
                                <li class="item">
                                    <label  for="exp_{{ loop.index }}">{{ experiment }}</label>
                                    <input class='item' type="radio" id="exp_{{ loop.index }}" name="exp_selection" value="{{ experiment }}" required>
                                </li>
                            {% endfor %}
                        </ul>
                </div>
        </div>
                        <!-- Submit button to submit the form -->
                <input id="submit_btn" type="submit" value="Select">
                </form>
        </div>
    </div>
    





         <!--connects to db and allows user to build a custom filter-->
    <div class="query_db">
            <h2 id="upload_csv_message">Custom Query from Database</h2>
            <h4>filter 1</h4>
            <h4>filter 2</h4>
            <h4>filter 3</h4>
            <h4>filter 4</h4>

            <button type="submit" class="btn btn-primary">Apply Filter</button>
     </div>
    
    
    {% endblock %}