@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); /* importing the poppins font /*


/* setting style for whole website */
body {
    background-color: #212124; 
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
    color: white;
    box-sizing: border-box;
}


/* */
/* setting style for Home Page */
/* */
.welcome{ /* div for whole home page */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    margin: auto;
    min-height: 100vh; 
    max-width: 800px;
    padding: 20px;
}

.welcome_message_background { /* div for header*/
    width: 100%; 
    background-color: #F5F5F5; 
    border: none;
    border-radius: 10px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    box-sizing: border-box; 
}

#welcome_message { /* header message*/
    margin: 0; 
    color: #6200EE;
    font-size: 2.5em; 
    text-align: center; 
}

.experiments { /* div for experiments form*/
    border: none;
    border-radius: 6px;
    background-color: #6200EE;
    color: black;
}

#welcome_message2{ /* subheader in experiments form*/
    margin-top: 20px;
    margin-bottom: 0px;
}


#submit_btn{
    padding: 0.5em 1em;
    border: none;
    border-radius: 6px;
    background-color: #6200EE;
    color: white;
    font-size: 1em;
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
    outline: none;
}

#submit_btn:hover {
    background-color: #5300d2; 
    transform: scale(1.05); 
}

